body {
    background-color: #9DF19D;
}

p {
    background-color: rgb(152, 251, 197);
}

.card-paragraph {
    margin-top: -20px;
}

h1,h2,h3,h4,h5,h6 {
    color: #005200;
}

.card-heading {
    color: black;
}

.card-container {
    background-color: white;
}

span{
    color: #862222;
}