body {
    background-color: lightgreen;
}

p {
    background-color: rgb(152, 251, 197);
}

.footer-paragraph {
    background-color: lightgreen;
}

h1,h2,h3,h4,h5,h6 {
    color: darkgreen;
}

.avatar {
    box-shadow: 5px 5px olivedrab;
    background-color: rgb(152, 251, 197);
}