.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    padding: 5px;
}

    .wrapper {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "sidebar"
            "section"
            "article"
            "ads"
            "footer";
        grid-gap: 5px;
        }

    .main-head {
        grid-area: header;
        border: 1px solid green;
    }

    .main-nav {
    grid-area: nav;
    border: 1px solid black;
    }

    .side {
        grid-area: sidebar;
        border: 1px solid red;
    }

    .main-section {
        grid-area: section;
        border: 1px solid blue;
    }

    .content {
        grid-area: article;
        border: 1px solid yellow;
    }

    .ad {
        grid-area: ads;
        border: 1px solid purple;
    }

    .main-footer {
        grid-area: footer;
        border: 1px solid pink;
    }

    .welcome-picture {
        max-width: 100%;
        border: 1px solid blue;
        height: auto;
    }
    figure {
        margin: 0px;
    }
    .avatar {
        max-width: 100%;
        max-height: 200px;
        border: 1px solid aqua;
    }
    .promo {
        max-width: 100%;
        height: auto;
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .about-me {
        align-self: stretch;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .about-company {
        align-self: stretch;
    }

    .article-link {
        align-self: stretch;
    }

    .avatar {
        align-self: center;
    }

    .ad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    /* Medium Screens */
    @media (min-width: 600px) and (max-width: 900px) {
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas:
                "header  header"
                "nav     nav"
                "sidebar section"
                "sidebar ads"
                "article article"
                "footer  footer";
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }

        .one {
            flex: 1.2 1 0;
            border: 1px solid black;
        }

        .two {
            flex: 2 1 0;
            border: 1px solid red;
        }

        .three {
            flex: 0.25 1 0;
            border: 1px solid yellow;
        }
    }

    /* Large Screens */
    @media (min-width: 901px) {
        .wrapper {
            display: grid;
            grid-template-areas:
            "header  header  header"
            "nav     nav     nav"
            "sidebar section article"
            "sidebar section article"
            "sidebar section ads"
            "footer  footer  footer";
            grid-template-columns: 1fr 2fr 1fr;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }

        .one {
            flex: 1.2 1 0;
            border: 1px solid black;
        }

        .two {
            flex: 2 1 0;
            border: 1px solid red;
        }

        .three {
            flex: 0.25 1 0;
            border: 1px solid yellow;
        }

    }