html {
    font: italic small-caps bold 16px/24px 'Montserrat', sans-serif, arial;
    letter-spacing: 0.02em;
}

figcaption {
    font-size: 0.7em;
}

footer {
    text-decoration: underline;
    font-size: 0.8em;
}

.footer-paragraph {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

h2,h3,h4,h5,h6 {
    text-align: left;
}

.card-heading {
font-size: 1.2em;
}

.article-link {
    font-size: 1.05em;
}

.card-paragraph {
    font-size: 0.8em;
}