html {
    font: italic small-caps bold 16px/24px 'Montserrat', sans-serif, arial;
    letter-spacing: 0.02em;
}

figcaption {
    font-size: 0.7em;
}

.footer-paragraph {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: underline;
    font-size: 0.6em;
}

h3,h4,h5,h6 {
    text-align: left;
}

h2 {
    text-align: center;
}

.card-heading {
    font-size: 1.2em;
}

.article-link {
    font-size: 1.05em;
}

.card-paragraph {
    font-size: 0.8em;
}