html {
    font: small-caps 16px/24px sans-serif, arial, Helvetica;
    letter-spacing: 0.02em;
}

figcaption {
    font-size: 0.6em;
    line-height: 15px;
}

footer {
    text-decoration: underline;
    font-size: 0.6em;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.recent-blog-posts {
    text-align: left;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    font: italic small-caps bold 2em/24px 'Montserrat', sans-serif, arial;
}